<style>.content {
    width: calc(100% - 320px);
}

@media only screen and (max-width: 1180px) {
    .content {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    .brand {
        display: none;
    }

    a.brand.brand-symbol.w-nav-brand {
        display: block;
    }
}

</style>

<style>

/*** CONTAINERS ***/

table {
    display: inline-block;
    position: relative !important;
    width: 100%;
    height: 100%;
    color: #0A0909;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative !important;
    overflow: auto;
    border: 0px solid;
    border-collapse: collapse !important;
}

table::-webkit-scrollbar {
    display: none;
}

.table-container {
    line-height: 1em;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.table-wrapper {
    display: grid;
    padding-right: 15px !important;
    padding-bottom: 15px;
    height: 100%;
    width: auto;
    position: relative !important;
    min-width: 1px;
    min-height: 1px;
    max-width: 100%;
    overflow: hidden;
}

.table-background {
    overflow: hidden;
    position: absolute;
    height: auto;
    width: auto;
    background: rgb(255, 255, 255);
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0px;
    z-index: -1;
    border-radius: 15px;
}

.top-left-corner,
.top-left-corner-bg {
    z-index: 99 !important;
}





/*** RESPONSIVENESS ***/

@media all and (max-width: 767px) {

    .table {
        position: relative;
    }

    .table-container {
        border-radius: 0px;
    }

    .table-background {
        border-radius: 0px !important;
    }

    .table-button,
    .top-left-corner,
    .top-left-corner-bg {
        display: none;
    }

    .progress-bar {
        border-radius: 0px;
    }

    .progress-indicator {
        border-radius: 0px;
    }

    .table-button-wrapper {
        display: none;
    }

    .column-sticky {
        left: 0px !important;
        font-size: 14px;
    }
}





/*** TABLE STYLES ***/

tr {
    z-index: 2;
    color: #797979;
}

td {
    width: 100%;
    white-space: nowrap;
    position: relative;
}

td:nth-child(even) {
    background: #F7F8FF;
}

td:last-child {
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(90deg, rgba(247, 248, 255, 1) 60%, rgba(255, 255, 255, 1) 80%);
}

td:nth-child(even)::after {
    content: "";
    border-bottom: 1px solid rgb(224, 229, 255);
    width: 100%;
    display: block;
    margin-top: auto;
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
}

td:nth-child(odd)::after {
    content: "";
    border-bottom: 1px solid rgb(224, 229, 255);
    width: 100%;
    display: block;
    margin-top: auto;
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
}

td:last-child::after {
    content: "";
    width: calc(100% - 10px);
    display: block;
    margin-top: auto;
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    z-index: 2;
}

.kredittsjekk-table tr:hover>td>.column-sticky {
    background: #e8ebfd;
    z-index: 99 !important;
}

.kredittsjekk-table tr:hover>td:nth-child(even) {
    background: #e8ebfd;
}





/*** TABLE HEADER ***/

tr:first-child {
    height: auto;
    color: #0a0a09;
    pointer-events: none;
    border-radius: 0px !important;
}

tr:first-child>td:first-child {
    background-color: #e8ebfd !important;
    border-radius: 0px !important;
    font-weight: 700;
}

tr:first-child>td:first-child::after {
    border-bottom: none !important;
}

tr:first-child .table-header {
    padding-bottom: 17px !important;
    background-color: #e8ebfd;
    border-radius: 0px !important;
    margin-top: -1px;
    height: calc(auto + 1px);
}

tr:first-child>td::after {
    display: none;
}

tr:first-child>td:first-child>.column-sticky {
    background-color: transparent !important;
    margin-left: -15px;
    padding-bottom: 15px;
    width: auto;
    padding-left: 25px !important;
    border-radius: 0px !important;
}

tr:first-child>td:first-child>.column-sticky::before {
    position: absolute;
    content: "";
    height: 50px !important;
    width: calc(100% + 40px) !important;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 20px;
    background: #e8ebfd !important;
    margin-bottom: 15px !important;
    padding-left: 20px !important;
    z-index: -1 !important;
}

tr:first-child>td:nth-child(even) {
    background-color: transparent;
}

tr:first-child td:last-child {
    background: transparent !important;
}

.table-data .table-header {
    pointer-events: none;
    position: relative;
    margin-top: -1px !important;
}

.table-data.table-header {
    margin-top: -1px !important;
}






/*** TABLE ROWS AND SECTIONS ***/

.row-section, td:last-child.row-section {
    padding-top: 30px;
    padding-bottom: 10px;
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    background-color: #fff !important;
    background: #fff !important;
    color: #0A0909;
}

.row-section .table-data {
    font-size: 16px !important;
    font-family: 'Nb international pro', sans-serif !important;
}

td.row-section::after {
    display: none !important;
}

.row-section .column-sticky {
    font-weight: 700;
    overflow: visible;
}

tr:hover {
    background: #e8ebfd;
    color: #0A0909;
}





/*** TABLE DATA ***/

.table-data {
    font-size: 14px !important;
    font-family: Nbinternationalpro mono, monospace;
    min-width: 10vw;
    padding: 8px 18px 8px 18px !important;
    display: flex !important;
    min-height: 25px;
    justify-content: flex-end;
    align-items: center;
    z-index: 9;
    width: auto;
}

.kredittsjekk-table td:hover>.table-data {
    background: #b3befc;
    border-radius: 8px !important;
    z-index: 9;
}





/*** FIRST COLOMN ***/

td:first-child {
    position: sticky;
    left: 0;
    z-index: 9 !important;
    background: white !important;
    padding-right: 15px !important;
}

td:first-child::after {
    position: absolute;
    left: 0;
    z-index: 9 !important;
    background: white !important;
    padding-right: 0px !important;
    border-bottom: 2px solid white !important;
}

.column-sticky {
    color: #0A0909;
    top: 0;
    left: 15px !important;
    right: 0;
    position: relative;
    background: white;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    /*width: 150px;*/
    padding: 8px 5vw 8px 12px !important;
    display: flex !important;
    min-height: 24px;
    justify-content: flex-start;
    align-items: center;
    z-index: 99 !important;
}





/*** GLOBAL ***/

::selection {
    background: #EBF8FF;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #EBF8FF;
    /* Gecko Browsers */
}

::selection {
    color: black;
    background: rgba(94, 114, 228, 0.20);
    border-radius: 4px;
}

</style>